@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "jakarta-extrabold";
  src: url("../public/fonts/static/PlusJakartaSans-ExtraBold.ttf")
}

@font-face {
  font-family: "jakarta-bold";
  src: url("../public/fonts/static/PlusJakartaSans-Bold.ttf")
}

@font-face {
  font-family: "jakarta-medium";
  src: url("../public/fonts/static/PlusJakartaSans-Medium.ttf")
}

@font-face {
  font-family: "jakarta-regular";
  src: url("../public/fonts/static/PlusJakartaSans-Regular.ttf")
}

@layer base {
  * {
    @apply p-0 m-0;
  }

  a {
    @apply no-underline;
  }

  .base-extrabold-text {
    @apply font-jakarta-extrabold text-base text-black;
  }

  .base-bold-text {
    @apply font-jakarta-bold text-base text-black;
  }

  .base-medium-text {
    @apply font-jakarta-medium text-base text-black;
  }

  .base-regular-text {
    @apply font-jakarta-regular text-base text-black;
  }
}

@layer components {
  .main-content {
    @apply ml-80 mt-[60px];
  }

  .bottom-border {
    @apply border-b border-border-color border-solid;
  }

  .right-border {
    @apply border-r border-border-color border-solid;
  }

  .round-button {
    @apply absolute rounded-full h-[calc(100%-6px)] w-[calc(100%-6px)];
  }

  .prim-trans {
    @apply transition-all duration-300;
  }

  .centering {
    @apply flex flex-row justify-center items-center;
  }

  .tl {
    @apply top-0 left-0;
  }

  .br {
    @apply bottom-0 right-0;
  }
}
